

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #9c9c9c;
    position: sticky;
}





.logo {
    flex: 1;
}

.logo h1 {
    font-family: Georgia, serif;
    font-size: 24px;
    margin: 0;
}

.logo p {
    font-size: 14px;
    margin: 0;
    color: #4f4f4f;
}

.right {
    float: left;
}

.liste1 {
    list-style: none;
   
}

.liste1 li {
    display: inline-block;
    margin: 0 15px;
    
}



.liste1 li a {
    text-decoration: none;
    color: #212121;
    font-size: 16px;
}

.liste1 li a:hover {
    color: #000000;
}

.welcome{
    display: block;
    text-align: center;
    padding: 10%;
    
}

.welcome h1{
    font-size: 40px;
}
.welcome p{
    font-size: 1.2em;
    margin-top: 1.5em;
}

.menu h1{

    text-align: center;
    
}

.menu div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.cock{
    margin-right: 20px;
}





.menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .menu2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    position: relative;
}
  
.menu2 img {
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-top: 50px;
}
  
.menu2 span {
    color: #aeadac;
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.menu h1{
    font-size: 40px;
}
footer{
    color: #d6d6d6;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    background-color: #2f2f2f;
    margin-top: 25px;
    justify-content: space-between;
}

#contact{
    text-align: center;
}

.resau{
    text-align: right;
}


.sociaux img{
    width: 50px;
    height: 50px;
}


