html{
    background-color: rgb(231, 231, 231);
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #9c9c9c;
}

.logo {
    flex: 1;
}

.logo h1 {
    font-family: Georgia, serif;
    font-size: 24px;
    margin: 0;
}

.logo p {
    font-size: 14px;
    margin: 0;
    color: #4f4f4f;
}

.right {
    float: left;
}

.liste1 {
    list-style: none;
   
}

.liste1 li {
    display: inline-block;
    margin: 0 15px;
    
}



.liste1 li a {
    text-decoration: none;
    color: #212121;
    font-size: 16px;
}

.liste1 li a:hover {
    color: #2d2314;
}
.main {
    margin: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}
  
.main h1 {
    font-size: 24px;
    font-weight: bold;
}
  
.main ul {
    list-style-type: none;
    
}
  
.main li {
    font-size: 18px;
    margin-bottom: 10px;
}

.main img{
    border-radius: 2px;
    width: 350px;
    height: 260px;

}

.main p{
    font-size: 2em;
    font-family: cursive;
    margin-top: 20px;
}


footer{
    color: #d6d6d6;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    background-color: #2f2f2f;
    margin-top: 25px;
    justify-content: space-between;
}

#contact{
    text-align: center;
}

.resau{
    text-align: right;
}


.sociaux img{
    width: 50px;
    height: 50px;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    text-align: center;
    flex: 1;
}



